.ingredient_form_container {
  display: flex;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;
  /* margin-top: 15px; */
  padding: 20px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
  font-family: Arial, Helvetica, sans-serif;
  /* width: 93%; */
  width: 35em;
}

.ingredient_form_container {
  width: 100%;
}

.ingredient_form {
  display: flex;
  flex-direction: column;
}

.ingredient_label {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 1.2em;
  color: rgba(0, 0, 0, 0.6);
}

.add_ingredient_input {
  display: block;
  margin-top: 10px;
  max-width: 750px;
  padding: 5px;
  width: 96%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.add_ingredient_input:focus {
  outline: none;
}

.review_input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}
.ingredient_label:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

#review_input_field {
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  resize: none;
}

/* #4c88ff */
/* #b7d5dd */

.list_error {
  color: red;
}

.add_ingredient_button {
  color: #fbfbfb;
  background-color: #3873b7;
  border: 1px solid #3873b7;
  transition: color 0.15s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  height: 30px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  /* margin-left: 1.8em; */
  margin-bottom: 0.7em;
}

.add_ingredient_button:hover {
  background-color: #a66252;
  border: 1px solid #a66252;
}

/********************************************/
