.landing_view_container {
  height: 100vh;
  justify-content: center;
  display: flex;
  /* background-size: cover; */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("../../images/landing-bg-img.jpg"); */
  /* background-image: url("../../images/max-griss-otLqpb9LK70-unsplash.jpg"); */
  /* background-image: url("../../images/wallhaven-k9evp6_1920x1080.png"); */
  animation: imageSlide 15s infinite;
}

.landing_view_container {
}

@keyframes imageSlide {
  0%,
  100% {
    opacity: 1;
    animation-timing-function: ease-in-out;
    background-image: url("../../images/wallhaven-3955py_1920x1080.png");
  }
  25% {
    opacity: 1;
    animation-timing-function: ease-in-out;
    background-image: url("../../images/wallhaven-oxq9l9_1920x1080.png");
  }
  50% {
    animation-timing-function: ease-in-out;
    background-image: url("../../images/wallhaven-y82o37_1920x1080.png");
  }
  75% {
    animation-timing-function: ease-in-out;
    background-image: url("../../images/wallhaven-k9evp6_1920x1080.png");
  }
}

.upper {
  font-family: "Times New Roman", Times, serif;
  margin-top: 1em;
  /* margin-bottom: -10px; */
  margin-bottom: 0.05em;
  /* color: white; */
  animation: textColor 15s infinite;
  font-size: 50px;
}

.bottom {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.2em;
  margin-bottom: 2.2em;
  margin-top: 2em;
  /* color: white; */
  font-size: 20px;
  animation: textColor 15s infinite;
}

.login_header_main {
  /* color: white; */
  font-size: 50px;
  animation: textColor 15s infinite;
}

.signup_p {
  /* color: white; */
  font-size: medium;
  animation: textColor 15s infinite;
}

.center_info_container {
  margin-top: 10em;
}

.log-heading-p {
  /* color: white; */
  font-size: large;
  font-weight: 500;
  animation: textColor 15s infinite;
}

.p-log-heading {
  font-size: 50px;
  animation: textColor 15s infinite;
}

@keyframes textColor {
  0%,
  100% {
    opacity: 1;
    animation-timing-function: ease-in-out;
    color: rgb(29, 29, 29);
  }
  25% {
    opacity: 1;
    animation-timing-function: ease-in-out;
    color: rgb(29, 29, 29);
  }
  50% {
    animation-timing-function: ease-in-out;
    color: white;
  }
  75% {
    animation-timing-function: ease-in-out;
    color: white;
  }
}

/* Will divide our divs to left and right*/
.landing_view_inner_container {
  /* display: grid; */
  display: flex;
  /* grid-template-columns: 3fr 2fr; */
  justify-content: center;
  width: 100%;
  z-index: 1;
}

/* */

.center {
  /* background-color: #f2f3efbe; */
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
  width: 40em;
}

.center_inner_content {
  margin-top: 15%;
  padding: 1.59em;
  font-family: "Times New Roman", Times, serif;
}

.login-right {
  margin-top: 5.5em;
}

.middle {
  font-family: "Times New Roman", Times, serif;
}

.landing_view_buttons {
  text-decoration: none;
  color: white;
  padding: 1em 1em;
  background-color: rgba(255, 0, 8, 0.7607843137254902);
  border-radius: 0.3em;
  margin: 0.5em;
  border: 2px solid white;
}

.landing_view_buttons:hover {
  border: 2px solid #e1a75d;
  background-color: white;
  color: #e1a75d;
}

body {
  margin: 0;
}

.login_header {
  color: rgb(38, 8, 211);
  font-weight: bold;
  text-decoration: none;
  /* margin-bottom: -2em; */
}

.logo_div_container {
}
