.login_main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  animation-name: transitionIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.38s;
}

.login_error_container {
  color: red;
  font-size: larger;
  margin-bottom: 1em;
  font-weight: 600;
  /* background-color: rgba(0, 0, 0, 0.479); */
  border-radius: 8px;
  width: fit-content;
  justify-content: center;
}

.login_error_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes transitionIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input_container {
}

.login_form {
  width: 85%;
}

.login_input {
  margin-bottom: 1em;
  width: 100%;
  border-radius: 0.5em;
  box-sizing: border-box;
  padding-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  /* height: 55px; */
  height: 4em;
}

.login_input:focus {
  outline: none;
  border: 1px solid #ff564c;
}

.submit_button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.submit_button {
  width: 100%;
  height: 3em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  background-color: #ff564c;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.submit_button:hover {
  /* background-color: #a66252; */
  background-color: rgba(143, 211, 42, 0.863);
}

.demo_btn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  background-color: #ff0a37;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 2em;
  margin-bottom: 30px;
}

.demo_btn:hover {
  background-color: rgba(143, 211, 42, 0.863);
}
